body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
}

input:active, input:focus {
  outline: none !important;
}


::-webkit-scrollbar {
  display: none;
}

.disableTextSelect {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.menuLink {
  transition: color 0.3s linear;
  color: rgba(255, 255, 255, 0.8);
}

.menuLink:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.articleLink, articleLink:hover, articleLink:active, articleLink:focus, .articleLink:visited   {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.source {
  color: rgba(0,0,0,0.6);
}

.articleLink:visited {
  color: #a4a4a4;
}

.articleLink:visited .source {
  color: #d8d8d8;
}

input {
  color: rgba(51, 55, 70, 0.5) !important;
}

input::placeholder {
  font-family: 'Source Sans Pro', sans-serif !important;
}

input:active, input:focus  {
  color: rgba(51, 55, 70, 1) !important;
}


